<section class="clients">
    <div class="container">
        <h4 class="title">
            НАШИ КЛИЕНТЫ
        </h4>
        <div class="swiper-container">
            <div class="swiper-wrapper clients-slider">
                <div class="swiper-slide clients-slider__box">
                    <img class="clients-slider__box-img" src="images/staff/image-slideclients.jpg"></img>
                    <div class="clients-slider__box-content">
                        <h4 class="clients-slider__box-title">Солнечная электростанция 30 кВт подключенная <br>по
                            Зеленому
                            Тарифу
                        </h4>
                        <ul class="clients-slider__box-list">
                            <li class="clients-slider__box-item">Расположение: Харьковская обл., г. Харьков
                            </li>
                            <li class="clients-slider__box-item">Чистый доход за вычетом налогов с мая 2017 г. по май
                                2019
                                г. 13
                                900 $.
                            </li>
                            <li class="clients-slider__box-item">Смонтирована: апрель 2017 г.
                            </li>
                            <li class="clients-slider__box-item">Срок службы: 25-30 лет</li>
                        </ul>
                        <a class="button" href="#">
                            <svg width="101" height="100" viewBox="0 0 101 100" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="button__path"
                                    d="M99.0521 50C99.0521 77.0615 77.1029 99 50.026 99C22.9492 99 1 77.0615 1 50C1 22.9385 22.9492 1 50.026 1C77.1029 1 99.0521 22.9385 99.0521 50Z"
                                    stroke="black" stroke-width="2" />
                                <path
                                    d="M70.7434 50.7071C71.134 50.3166 71.134 49.6834 70.7434 49.2929L64.3795 42.9289C63.989 42.5384 63.3558 42.5384 62.9653 42.9289C62.5747 43.3195 62.5747 43.9526 62.9653 44.3431L68.6221 50L62.9653 55.6569C62.5747 56.0474 62.5747 56.6805 62.9653 57.0711C63.3558 57.4616 63.989 57.4616 64.3795 57.0711L70.7434 50.7071ZM30.0155 51H70.0363V49H30.0155V51Z"
                                    fill="black" />
                            </svg>
                            <span class="button__text">записаться на консультацию</span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide clients-slider__box">
                    <img class="clients-slider__box-img" src="images/staff/image-slideclients2.jpg"></img>
                    <div class="clients-slider__box-content">
                        <h4 class="clients-slider__box-title">Солнечная электростанция 30 кВт подключенная <br> по
                            Зеленому
                            Тарифу
                        </h4>
                        <ul class="clients-slider__box-list">
                            <li class="clients-slider__box-item">Расположение: Харьковская обл., г. Харьков
                            </li>
                            <li class="clients-slider__box-item">Чистый доход за вычетом налогов с мая 2017 г. по май
                                2019
                                г. 13
                                900 $.
                            </li>
                            <li class="clients-slider__box-item">Смонтирована: апрель 2017 г.
                            </li>
                            <li class="clients-slider__box-item">Срок службы: 25-30 лет</li>
                        </ul>
                        <a class="button" href="#">
                            <svg width="101" height="100" viewBox="0 0 101 100" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="button__path"
                                    d="M99.0521 50C99.0521 77.0615 77.1029 99 50.026 99C22.9492 99 1 77.0615 1 50C1 22.9385 22.9492 1 50.026 1C77.1029 1 99.0521 22.9385 99.0521 50Z"
                                    stroke="black" stroke-width="2" />
                                <path
                                    d="M70.7434 50.7071C71.134 50.3166 71.134 49.6834 70.7434 49.2929L64.3795 42.9289C63.989 42.5384 63.3558 42.5384 62.9653 42.9289C62.5747 43.3195 62.5747 43.9526 62.9653 44.3431L68.6221 50L62.9653 55.6569C62.5747 56.0474 62.5747 56.6805 62.9653 57.0711C63.3558 57.4616 63.989 57.4616 64.3795 57.0711L70.7434 50.7071ZM30.0155 51H70.0363V49H30.0155V51Z"
                                    fill="black" />
                            </svg>
                            <span class="button__text">записаться на консультацию</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <button class="swiper-button-prev clients-slider__arrow">
                <svg width="41" height="8" viewBox="0 0 41 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.646446 3.64645C0.451183 3.84171 0.451183 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM41 3.5L1 3.5V4.5L41 4.5V3.5Z"
                        fill="#303030" />
                </svg>
            </button>
            <button class=" swiper-button-next clients-slider__arrow">
                <svg width="41" height="8" viewBox="0 0 41 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M40.3536 4.35355C40.5488 4.15829 40.5488 3.84171 40.3536 3.64645L37.1716 0.464466C36.9763 0.269204 36.6597 0.269204 36.4645 0.464466C36.2692 0.659728 36.2692 0.976311 36.4645 1.17157L39.2929 4L36.4645 6.82843C36.2692 7.02369 36.2692 7.34027 36.4645 7.53553C36.6597 7.7308 36.9763 7.7308 37.1716 7.53553L40.3536 4.35355ZM0 4.5H40V3.5H0V4.5Z"
                        fill="#303030" />
                </svg>
            </button>
        </div>
    </div>
</section>