.info {
	$self: &;
	margin-top: 150px;
	@include media ('<=xs'){
		margin-top: 75px;
	}

	&__inner {
		display: flex;
		@include media ('<=xlg'){
			flex-wrap: wrap-reverse;
		}
	}
	
	&__box {
		margin-right: 90px;
		@include media ('<=xlg'){
			margin-right: 0;
			display: flex;
		}
		@include media ('<=sm'){
			display: block;
		}
	}

	&__tabs {
		flex-basis: 600px;
		margin-bottom: 100px;
	}

	&__tabs-items {
		font-weight: 400;
		margin-bottom: 125px;
		@include media ('<=xlg'){
			margin-bottom: 40px;
		}
	}

	&__tabs-item {
		margin-right: 40px;
		&_active {
			border-bottom: 1px solid $dark;
		}
		@include media ('<=xs'){
			margin-right: 0;
			padding: 10px;
			display: block;
			text-align: center;
		}
	}

	&__tabscontent {
		display: none;
		@extend %default-font;
		max-width: 510px;
		&_active {
			display: block;
			@include media ('<=sm'){
				width: 100%;
				max-width: 600px;
				margin: 0 auto;
			}
			@include media ('<=xs'){
				width: 100%;
				max-width: 440px;
				margin: 0 auto;
			}
			@include media ('<=xxs'){
				width: 100%;
				max-width: 320px;
				margin: 0 auto;
			}
			@include media ('<=xxxs'){
				max-width: 280px;
			}
		}

	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media ('<=xlg'){
			align-self: flex-start;
			margin-left: 40px;
		}
		@include media ('<=sm'){
			margin-left: 0;
		}
	}

	&__list-item {
		flex-basis: 235px;
		margin-bottom: 17px;
		@include media ('<=xs'){
			// flex-basis: 100%;
		}
	}

	&__list-title {
		font-weight: 700;
		margin-bottom: 5px;
	}

	&__list-text {
		@extend %default-font;
	}

	&__content-text {
		margin-bottom: 17px;
	}
	&__content-img {
		@include media ('<=xlg'){
			display: none;
		}
	}
}
