.services {
	$self: &;
	margin-top: 150px;
	@include media ('<=xs'){
		margin-top: 75px;
	}
	
	&__inner {
		display: flex;
		@include media ('<=xlg'){
			flex-wrap: wrap;
		}
	}
	
	&__content {
		margin-right: 90px;
		flex-basis: 510px;
		color: $dark;
		@include media ('<=xlg'){
			flex-basis: 100%;
			margin-right: 0;
		}
	}
	
	&__content-box {
		margin-bottom: 50px;
		@include media ('<=xlg'){
			margin-bottom: 30px;
		}
	}
	
	&__title {
		font-weight: 700;
		margin-bottom: 15px;
	}
	
	&__text {
		@extend %default-font;
	}
	
	&__img {
		object-fit: cover;
		@include media ('<=xlg'){
			width: 100%;
			height: 400px;
		}
	}
	
}
